body{
    background-color: #272727;
}
h2{
    font-size: 34px;
    color: #111111;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.social-link {
    width: 30px;
    height: 30px;
    border: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #666;
    border-radius: 50%;
    transition: all 0.3s;
    font-size: 0.9rem;
}

.social-link:hover,
.social-link:focus {
    background: #ddd;
    text-decoration: none;
    color: #555;
}

/* Logo style */
#Smart_Exhibit{
    font-size: 27px;
    color:white;
    font-family:'Volkhov', serif;
}

#Back_Arrow{
    font-size: 25px;
    color:white;
    font-family:Sitka Heading;
    font-weight:bold;
}

/*  Top Level Container */
#page-container {
    position: relative;
    min-height: 5vh;
}

.container{
    margin-top: 0px;
}

.card {
    margin: 0 auto 20px auto; /* Added */
    float: none; /* Added */
    background-color: #B8D8D8;
}

.nav-item{
    padding-left: 40px;
    padding-right: 40px;
    font-size: 17px;
    font-family:Sitka Heading;
    color: #fff;
    outline: none;
    text-decoration: none;

}

.nav-item:hover {
    text-decoration: none;
    color: #fff;
    text-align: center;
    background-color: #FE5F55;
    border-radius: 16px 16px 16px 16px;
    transition: 0.4s;
    padding: 14px 40px;
}

.se-db1{
    background-color:#272727;
}

.se-db2{
    color: rgb(48, 48, 48);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 10px;
}

.se-db3{
    color: rgb(48, 48, 48);
    font-family: Georgia, 'Times New Roman', Times, serif;
}


@media (min-width: 768px){

}