
h1{
    color: #1f1f1f;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 34px;
}
body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #414141;
    background-color: #272727;
    font-size: 17px;
}

.jumbotron{
    background: #fff;
    text-align:left;
    margin-bottom: 30px !important;
}

#jumbo {
    padding: 30px;
}
