
h1{
    color: #111111;
    font-family: Sitka Heading;
    font-size: 34px;
}
body{
    font-family: Sitka Heading;
    color: #111111;
    background-color: #B8D8D8;
    font-size: 18px;
}

.jumbotron{
    background: #fff;
    text-align:left;
    margin-bottom: 30px !important;
}

#jumbo {
    padding: 30px;
}
