* {
    box-sizing: border-box;
}

h1 {
    font-family: Segoe UI;
    top: 20px;
    font-size: 20px;
    color: #fff;
}

h3 {
    font-family: Segoe UI;
    top: 20px;
    font-size: 20px;
    color: #fff;
}


/* Padding for the logins and page */

p.ex1 {
    padding-top: 2%;
}

p.ex2 {
    padding-bottom: 1%;
}

.container {
    position: relative;
}

.inner_container{
    background-color:#4F6367 ;
    padding: 0%  30%  10%;
    border-radius: 20px;

}



/* Login Logo style */
#Smart_Exhibit{
    padding-top: 20%;
    font-size: 50px;
    color:white;
    font-family:Sitka Heading;
    font-weight:bold;
}

/* style inputs and link buttons */
input,
.btn {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 20px;
    margin: 5px 0;
    opacity: 0.85;
    display: inline-block;
    font-size: 17px;
    line-height: 20px;
    text-decoration: none; /* remove underline from anchors */
}

input:hover,
.btn:hover {
    opacity: 1;
}

/* add appropriate colors to fb, twitter and google buttons */
.fb {
    background-color: #3B5998;
    color: white;
}

.twitter {
    background-color: #55ACEE;
    color: white;
}

.google {
    background-color: #dd4b39;
    color: white;
}

/* style the submit button */
input[type=submit] {
    background-color: #FE553E;
    color: white;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #FE553E;
    opacity: 1;
}

/* Two-column layout */
.col {
    float: left;
    width: 50%;
    margin: auto;
    padding: 0 50px;
    margin-top: 20%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* vertical line */
.vl {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    border: 2px solid #ddd;
    height: 175px;
}

/* text inside the vertical line */
.vl-innertext {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    border-radius: 50%;
    padding: 8px 10px;
}

/* hide some text on medium and large screens */
.hide-md-lg {
    display: none;
}

/* bottom container */
.bottom-container {
    text-align: center;
    background-color: #666;
    border-radius: 0px 0px 0px 0px;
}

/* Responsive layout - when the screen is less than 650px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 650px) {
    .col {
        width: 100%;
        margin-top: 0;
    }
    /* hide the vertical line */
    .vl {
        display: none;
    }
    /* show the hidden text on small screens */
    .hide-md-lg {
        display: block;
        text-align: center;
    }
}