/* Style the tab */
.tab {
    overflow: hidden;
    background-color: #f1f1f1;
    float: left;
    border: 1px solid #ccc;
}

p.ex1 {
    padding-top: 1px;
}

p.ex2{
    font-size: 14px;
}

label.ex1{
    font-size: 17px;
}

.nav-link{
    font-size: 16px;
    padding: 7px 7px 7px 20px;
    border-radius: 5px;
    color: rgb(0, 0, 0);
    
}

.nav-link:hover {
    text-decoration: none;
    background-color:rgb(254, 95, 85);

}

.nav-link:active{
    background-color:rgb(254, 95, 85);
    color:#fff;


}


/* Style the buttons that are used to open the tab content */
.tab button {
    display: block;
    background-color: inherit;
    color: black;
    padding: 15px 15px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    font-size: 15px;
    height:100%;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    float:left;
    padding: 0px 12px;
    width: 70%;
    border-left: none;
    border: 1px solid #ccc;
}

.se-or{
    background-color:#FE5F55;
    color:white;
}