p.ex1 {
    line-height: 100px;
}
  
h3 {
    font-family: Sitka Heading;
    font-weight: bold;
    top: 20px;
    font-size: 30px;
    color: #4F6367;
}
  
body {
    margin: 0;
    font-family: Segoe UI;
    font-size: 17px;
    color: #1a202c;
    background-color: #B8D8D8;  
}
  
/* Logo style */
#Smart_Exhibit{
    font-size: 27px;
    color:white;
    font-family:Sitka Heading;
    font-weight:bold;
}
  
/*  Top Level Container */
#page-container {
    position: relative;
    min-height: 10vh;
}
  
#content-wrap {
    padding-bottom: 75px;
}
  
.nav-item{
    padding-left: 40px;
    padding-right: 40px;
    font-size: 17px;
    font-family:Sitka Heading;
    color: #fff;
}
  
.nav-item:hover {
    text-decoration: none;
    color: #fff;
    text-align: center;
    background-color: #FE5F55;
    border-radius: 16px 16px 16px 16px;
    transition: 0.1s;
    padding: 14px 40px;
}

img{
    width: 135px;
    height: 135px;
    object-fit: cover;
    border-radius: 50%;
}

.se-sb{
    color:#B8D8D8;
}
  
.se-gb{
    color: #3C787A;
}
  
.se-db{
    background-color:#4F6367;
    color: #fff;
}
  
.se-wh{
    color:#FFFFFF;
}
  
.se-or{
    background-color:#FE5F55;
    color:white;
}
  
@media (min-width: 768px){
  
}