<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!--bootstrap -->
    <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css'
          integrity='sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk'
          crossorigin='anonymous')>
    <link rel="stylesheet" href="/Public/StyleeSheet/mystyle.css">
    <link rel="stylesheet" href="/Public/StyleeSheet/contact-us.css">
    <link rel="stylesheet" href="/Public/StyleeSheet/footer.css">



    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <!-- Font Awesome JS -->
    <script src="https://kit.fontawesome.com/e564623181.js" crossorigin="anonymous"></script>

    <!-- Title Font -->
    <link href="https://fonts.googleapis.com/css2?family=Volkhov&display=swap" rel="stylesheet">

    <title>Contact Us - SmartExhibit</title>
</head>
<body>
<div id ="page-container">
    <div id="content-wrap">
        <nav class="navbar navbar-expand-lg navbar-light se-db1">
            <button class="navbar-brand btn btn-sm" id="Back_Arrow" onclick="goBack()"><i class="fas fa-chevron-left"></i></button>
            <a class="navbar-brand ml-sm-1" href="/" id="Smart_Exhibit">Smart Exhibit</a>
        </nav>
    </div>
    <div class="container px-4 mt-3 mb-5">
        <div class="row jumbotron bg-light" id="jumbo">
            <div class="col-12">
                <h1>Contact Us</h1>
                <hr>
                <p class="lead"></p>Smart Exhibit
                <p class="lead"></p>The University of Melbourne
                <p class="lead"></p>Postal address: The University of Melbourne, Victoria 3010
                <p class="lead"></p>Phone: Domestic: 13 MELB (13 6352) | International: + (61 3) 9035 5511
                <p class="lead"></p>
                <div id="googleMap" style="width:100%;height:465px;"></div>
            </div>
        </div>
        <div id="map"></div>
        <script>
            function myMap() {
                var myLatLng = {
                    lat: -37.7983,
                    lng: 144.9610
                };
                var map = new google.maps.Map(document.getElementById('googleMap'), {
                    zoom: 16,
                    center: myLatLng
                });
                var marker = new google.maps.Marker({
                    position: myLatLng,
                });
                var map = new google.maps.Map(document.getElementById("googleMap"), map);
            }
        </script>

        <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAP82fMIZAE1k5Y7WBY9Zy_ut9MJTYdw_M&callback=myMap"
                type="text/javascript"></script>
    </div>
</div>
<script type="text/javascript">
    function goBack() {
        window.history.back()
    }
</script>
</body>
<!-- Site footer -->
<footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <h6>About</h6>
          <p class="text-justify">This was proudly developed by five students from The University of Melbourne as their undergraduate capstone project of Computer System & Software major.</p>
        </div>
  
        <div class="col-xs-6 col-md-3">
          <h6>Navigation</h6>
          <ul class="footer-links">
            <li><a href="">Homepage</a></li>
            <li><a href="">Dashboard</a></li>
            <li><a href=""></a></li>
            <li><a href=""></a></li>
          </ul>
        </div>
  
        <div class="col-xs-6 col-md-3">
          <h6>Support</h6>
          <ul class="footer-links">
            <li><a href="http://scanfcode.com/about/">About Us</a></li>
            <li><a href="http://scanfcode.com/contact/">Contact Us</a></li>
            <li><a href="http://scanfcode.com/privacy-policy/">Privacy Policy</a></li>
          </ul>
        </div>
      </div>
      <hr>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text">Copyright &copy; 2020 All Rights Reserved by
            <a href="#">Smart Exhibit</a>.
          </p>
        </div>
        <!--
        <div class="col-md-4 col-sm-6 col-xs-12">
          <ul class="social-icons">
            <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
            <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
          </ul>
        </div>
        -->
      </div>
    </div>
  </footer>
</html>