<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--bootstrap -->
    <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css'
          integrity='sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk'
          crossorigin='anonymous')>
    <link rel="stylesheet" href="../Public/StyleeSheet/mystyle.css">
    <link rel="stylesheet" href="../Public/StyleeSheet/slideshow.css">
    <link rel="stylesheet" href="../Public/StyleeSheet/bootstrap-magic.css">
    <link rel="stylesheet" href="../Public/StyleeSheet/login.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <title>Smart Exibit</title>

</head>
<body class = "bg-secondary">
    <div class="container">
        <div class="inner_container">
            <div class="col-ml-1">
                <h2>Login</h2>
                <div class="col">
                    <a href="#" class="fb btn">
                        <i class="fa fa-facebook fa-fw"></i> Login with Facebook
                    </a>
                    <a href="#" class="twitter btn">
                        <i class="fa fa-twitter fa-fw"></i> Login with Twitter
                    </a>
                    <a href="#" class="google btn"><i class="fa fa-google fa-fw">
                    </i> Login with Google+
                    </a>
                </div>

                <form action ="/action_page.php" method = "post">
                    <div class="col">
                        <div class="form-group">
                            <label for="username">Email address:</label>
                            <input id="username" type="text" name="username" placeholder="Username" required>
                        </div>
                        <div class="form-group">
                            <label for="password">Password:</label>
                            <input id="password" type="text" name="password" placeholder="Password" required>
                        </div>
                        <input type="submit" value="Login">
                    </div>
                </form>
            </div>
        </div>
    </div>

</body>
</html>