<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--bootstrap -->
    <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css'
          integrity='sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk'
          crossorigin='anonymous')>
    <link rel="stylesheet" href="/Public/StyleeSheet/mystyle.css">
    <link rel="stylesheet" href="/Public/StyleeSheet/bootstrap-magic.css">
    <link rel="stylesheet" href="/Public/StyleeSheet/login.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <title>Sign Up</title>

    <!-- Font Awesome JS -->
    <script src="https://kit.fontawesome.com/e564623181.js" crossorigin="anonymous"></script>

    <p class="ex1"></p>
</head>

<body class = "bg-secondary">

<div class="container">
    <div class="inner_container">
        <div class="my-auto">
            <p class="text-center"><a class="navbar-brand" href="/index" id="Smart_Exhibit"><i class="fas fa-user-graduate"></i><br>Smart Exhibit</a></p>
            <form action ="/signup" method = "post">
                <div class="row justify-content-center">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label for="firstName"><h1><i class="fas fa-user"></i>   First Name:</h1></label>
                            <input id="firstName" type="text" name="firstName" placeholder="First Name" required>
                        </div>
                        <div class="form-group">
                            <label for="lastName"><h1><i class="fas fa-user"></i>  Last Name:</h1></label>
                            <input id="lastName" type="text" name="lastName" placeholder="Last Name" required>
                        </div>
                        <div class="form-group">
                            <label for="email"><h1><i class="fas fa-envelope"></i>   Email Address:</h1></label>
                            <!-- type = "email"-->
                            <input id="email" type="text" name="email" placeholder="Email" required>
                        </div>
                        <div class="form-group">
                            <label for="password"><h1><i class="fas fa-envelope"></i>   Password:</h1></label>
                            <!-- type = "password"-->
                            <input id="password" type="text" name="password" placeholder="Password" required>
                        </div>
                        <input type="submit" value="Submit">
                    </div>
                </div>
            </form>
            <p class="ex1"></p>
            <div class="row justify-content-center">
                <div class="col-12">
                    <a href="#" class="fb btn">
                        <i class="fa fa-facebook fa-fw"></i> Sign Up with Facebook
                    </a>
                    <a href="#" class="twitter btn">
                        <i class="fa fa-twitter fa-fw"></i> Sign Up with Twitter
                    </a>
                    <a href="#" class="google btn"><i class="fa fa-google fa-fw"></i> Sign Up with Google+
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<p class="ex2"></p>
</body>
</html>