<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Showcase Documents</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
      
      
        <!--bootstrap -->
        <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css'
              integrity='sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk'
              crossorigin='anonymous')>
        <link rel="stylesheet" href="/Public/StyleeSheet/showcase.css">  
      
        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      
        <!-- Popper JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
      
        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
      
        <!-- Font Awesome JS -->
        <script src="https://kit.fontawesome.com/e564623181.js" crossorigin="anonymous"></script>
    </head>
<body>
    <div id = "page-container">
        <div id="content-wrap">
          <nav class="navbar navbar-expand-lg navbar-light se-db">
            <a class="navbar-brand ml-sm-1" href="/index" id="Smart_Exhibit"><i class="fas fa-user-graduate"></i>       Smart Exhibit</a>
            <button class="navbar-toggler ml-sm-1" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse " id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li>
                      <a class="nav-item" href="/dashboard">My Dashboard</a>
                    </li>
                    <li>
                      <a class="nav-item" href="/settings">Settings</a>
                    </li>
                    <li>
                      <a class="nav-item" href="/signout">Sign Out</a>
                    </li>
                </ul>
            </div>
          </nav>
        </div>
    </div>
    <div class="container">
        <div class="main-body">
            <div class="row gutters-sm">
                <div class="col-md-12 mb-10">
                  <div class="card">
                    <div class="card-body">
                      <div class="d-flex flex-column align-items-center text-center">
                        <img src="/Public/Images/default_avatar.png" alt="Admin" class="rounded-circle" width="100">
                        <div class="mt-3">
                          <h4><%=userInfo.firstName%> <%=userInfo.lastName%></h4>
                          <p class="text-secondary mb-1">Occupation</p>
                          <p class="text-muted font-size-sm"><i class="fas fa-map-marker-alt"></i>   Parkville VIC 3010, Australia</p>
                          <button class="btn btn-outline-dark se-or">Message</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
            <div class="card mt-3">
                <div class="card h-100">
                    <div class="card-body">
                        <div class="d-flex flex-column align-items-center text-center"></div>
                            <h4>Documents (if user chose to use google drive) </h4>
                            <hr>
                            <!-- Change ID of folder to the user's shared folder on google drive -->
                            <iframe src="https://drive.google.com/embeddedfolderview?id=1yclBZDVMBWxe395v7_b_V9wvTVZeJltR#list" style="width:100%; height:350px; border:0;"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>