<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Documents - SmartExhibit</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <script src="/Public/Scripts/jquery.min.js"></script>

        <!--bootstrap -->
        <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css'
              integrity='sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk'
              crossorigin='anonymous')>
        <link rel="stylesheet" href="/Public/StyleeSheet/showcase.css">  
        <link rel="stylesheet" href="/Public/StyleeSheet/showcasefile.css">
      
        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      
        <!-- Popper JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
      
        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
      
        <!-- Font Awesome JS -->
        <script src="https://kit.fontawesome.com/e564623181.js" crossorigin="anonymous"></script>

    </head>
<body>
    <div id = "page-container">
        <div id="content-wrap">
          <nav class="navbar navbar-expand-lg navbar-light se-db">
            <a class="navbar-brand ml-sm-1" href="/" id="Smart_Exhibit"><i class="fas fa-user-graduate"></i>       Smart Exhibit</a>
            <button class="navbar-toggler ml-sm-1" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse " id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li>
                      <a class="nav-item" href="/dashboard">My Dashboard</a>
                    </li>
                    <li>
                      <a class="nav-item" href="/settings">Settings</a>
                    </li>
                    <li>
                      <a class="nav-item" href="/signout">Sign Out</a>
                    </li>
                </ul>
            </div>
          </nav>
        </div>
    </div>
    <div class="container">
        <div class="main-body">
            <div class="row gutters-sm">
                <div class="col-md-12 mb-10">
                  <div class="card">
                    <div class="card-body">
                      <div class="d-flex flex-column align-items-center text-center">
                        <div class="mask">
                          <img src="<%=userInfo.profileImg%>"/>
                        </div>
                        <div class="mt-3">
                          <h4><%=userInfo.firstName%> <%=userInfo.lastName%></h4>
                          <p class="text-secondary mb-1"><%=userInfo.occupation%></p>
                          <p class="text-muted font-size-sm"><i class="fas fa-map-marker-alt"></i> <%=userInfo.address%></p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
            <div class="card mt-3">
                <div class="card h-100">
                    <div class="card-body">
                        <h4>Documents</h4>
                        <hr>
                        <div class="panel panel-default mainpanel">
                            <div class="panel-body">
                                <table class="linksholder">
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="/Public/Scripts/bootstrap.min.js"></script>
    <script src="/Public/Scripts/jquery.datatables.min.js"></script>
    <script src="/Public/Scripts/showcasebrowser.js"></script>
</body>
</html>