<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--bootstrap -->
    <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css'
          integrity='sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk'
          crossorigin='anonymous')>
    <link rel="stylesheet" href="/Public/StyleeSheet/bootstrap-magic.css">
    <link rel="stylesheet" href="/Public/StyleeSheet/verification.css">
    <link rel="stylesheet" href="/Public/StyleeSheet/footer.css">


    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <title>Verification Email Sent</title>

    <!-- Font Awesome JS -->
    <script src="https://kit.fontawesome.com/e564623181.js" crossorigin="anonymous"></script>

    <!-- Title Font -->
    <link href="https://fonts.googleapis.com/css2?family=Volkhov&display=swap" rel="stylesheet">

</head>
<body>
    <div class="p-5 col-md-12 mb-12">
        <div class="card">
            <div class="card-body">
                <div class="d-flex flex-column text-center">
                    <div class="mt-10">
                        <div class="navbar-brand" id="verification"><i class="fas fa-check-circle"></i> Verification Link Sent!</div>
                        <hr>
                        <h5>A verification email has been sent to the nominated email address.
                            Please click on the link to verify your account.</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<!-- Site footer -->
<footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-6">
                <h6>About</h6>
                <p class="text-justify">This was proudly developed by five students from The University of Melbourne as their undergraduate capstone project of Computer System & Software major.</p>
            </div>

            <div class="col-xs-3 col-md-3">
                <h6>Navigation</h6>
                <ul class="footer-links">
                    <li><a href="/index">Homepage</a></li>
                    <li><a href="/dashboard">Dashboard</a></li>
                    <li><a href=""></a></li>
                    <li><a href=""></a></li>
                </ul>
            </div>

            <div class="col-xs-3 col-md-3">
                <h6>Support</h6>
                <ul class="footer-links">
                    <li><a href="/about">About Us</a></li>
                    <li><a href="/contact">Contact Us</a></li>
                    <li><a href="">Privacy Policy</a></li>
                </ul>
            </div>
        </div>
        <hr>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-6 col-xs-12">
                <p class="copyright-text">Copyright &copy; 2020 All Rights Reserved by
                    <a href="#">Smart Exhibit</a>.
                </p>
            </div>
            <!--
            <div class="col-md-4 col-sm-6 col-xs-12">
              <ul class="social-icons">
                <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
                <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
              </ul>
            </div>
            -->
        </div>
    </div>
</footer>
</html>